<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow">
    <title>Status</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
    <link rel="stylesheet" href="trestus.css">
</head>
<body>

<main class="wrapper">

    <nav class="navigation">
        <section class="container">
            <a class="navigation-title" href="">
                <h1 class="title">Status</h1>
            </a>
        </section>
    </nav>

    <section class="container" id="main">
        {{ if not panels }}
        <div class="panel operational">
            All Systems operational.
        </div>
        {{ else }}
        {{#each panels}}
        {{#if Value != null }}
        <div class="panel {{ Key }}">
            {{ Key }} on {{#each Value}}{{ system }}-% if not loop.last %-, -% endif %-{{/each}}.
        </div>        
        {{/if}}
        {{/each}}
        {{/if}}

        <h4>Systems</h4>
        <ul class="systems">
            {{#each systems }}
            <li>
                {{ Key }} <span class="status {{ Value.Status }} {{ Value.Severity }}">{{ Value.Status }}</span>
            </li>
            {{/each }}
        </ul>

        <h4>Incidents</h4>
        {{#if incidents != null }}
        {{#each incidents }}
        <div class="incident">
            <span class="date">{{ CreateDate }} UTC</span>

            {{#if Closed }}
            <span class="label operational float-right">resolved</span>
            {{else}}
            <span class="label {{ Severity }} float-right">{{ Severity }}</span>
            {{/if}}
            {{#each Systems }}
            <span class="label system float-right">{{ Name }}</span>
            {{/each}}
            <hr/>

            <span class="title">{{ incident.name }}</span>
            <p>{{ HtmlDescription }}</p>
            {{#each ParsedComments}}
            <p><em>Update {{ ParsedDate }} UTC by {{ MemberCreator.Initials }}</em><br/>
                {{ HtmlDescription }}
            </p>
            {{/each}}
        </div>
        {{/each}}
        {{else}}
        <em>There are currently no known incidents. \o/</em>
        {{/if}}
    </section>


    <footer class="footer">
        <section class="container">
            <hr/>
        </section>
    </footer>

</main>

</body>
</html>