<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow">
    <title>Status</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
    <link rel="stylesheet" href="trestus.css">
</head>
<body>

<main class="wrapper">

    <nav class="navigation">
        <section class="container">
            <a class="navigation-title" href="">
                <h1 class="title">System Status</h1>
            </a>
        </section>
    </nav>

    <section class="container" id="main">
        {% if Panels.Count == 0 %}
            <div class="panel operational">
                All Systems operational.
            </div>
        {% else %}
            {% for p in Panels %}
                <div class="panel {{p.Key | textilize | downcase}}">
                    {{p.Key | textilize}} on {% for s in p.Value.Services %}{{s}}{% if forloop.last %} {% else %}<span>, </span>{% endif %}{% endfor %}
                </div>
            {% endfor %}
        {% endif %}


        <h4>Systems</h4>
        <ul class="systems">            
            {% for s in Systems %}
                <li><span>{{s.Key}}</span><span class="status {{s.Value.Status | downcase}} {{s.Value.Severity | textilize | downcase}}">{{s.Value.Status}}</span></li>
            {% endfor %}
        </ul>

        <h4>Incidents</h4>
        {% if Incidents.Count == 0 %}
        <em>There are currently no known incidents. \o/</em>
        {% else %}
            {% for i in Incidents %}
                <div class="incident">
                    <span class="date">{{i.Create_Date}} UTC</span>
                    {% if i.Closed %}
                        <span class="label operational float-right">resolved</span>
                    {% else %}
                        <span class="label {{i.Severity | textilize | downcase}} float-right">{{i.Severity | textilize}}</span>
                    {% endif %}
                    {% for s in i.Systems %}
                        <span class="label system float-right">{{s}}</span>
                    {% endfor %}
                    <hr/>
                    <span class="title">{{i.Name}}</span>
                    {{i.Html_Description}}
                    {% for c in i.Parsed_Comments %}
                        <p>
                            <em>Update {{c.Parsed_Date}} UTC by {{c.Member_Creator.Initials}}</em><br/>
                            {{c.Html_Description}}
                        </p>
                    {% endfor %}
                </div>
            {% endfor %}
        {% endif %}
    </section>


    <footer class="footer">
        <section class="container">
            <hr/>
        </section>
    </footer>

</main>

</body>
</html>